<div class="container">
  <h1 class="text-center"><%= @restaurant.name %></h1>
  <p class="text-center"><%= @restaurant.address %></p>
  <p class="text-bold">
    <%= pluralize @restaurant.reviews.size, "review" %>
  </p>

  <div id="reviews">
    <% if @restaurant.reviews.blank? %>
      <p class="mb-2">Be the first to leave a review for <%= @restaurant.name %></p>
    <% else %>
      <% @restaurant.reviews.each do |review| %>
        <p id="review-<%= review.id %>">
          <%= review.content %>
          <%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete, remote: true %>
        </p>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for([ @restaurant, @review ], remote: true) do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

  <div class="mt-4">
    <%= link_to "Back to restaurants", restaurants_path %>
  </div>
</div>
