<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants Ajaxified</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Font awesome -->
    <script src="https://use.fontawesome.com/f01f7e3a4c.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
